.container{
    position: absolute;
    width: 1160px;
    height: 786px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.list-box{
    position: relative;
    width: calc(50% - 40px);
    height: calc(100% - 40px);
    float: left;
    overflow-y: auto;
    background: #c6f2cc;
    padding: 20px;
}
.cart-box{
    position: relative;
    width: calc(50% - 40px);
    height: calc(100% - 40px);
    float: left;
    overflow-y: auto;
    background: #f6edce;
    padding: 20px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
}
.product:hover{
    background: #d0d57c;
}
.product{
    width: 100%;
    position: relative;
    height: 50px;
    background: #fff;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 5px 4px 15px -8px #eaeaea;
}
.product-title{
    font-family: Calibri sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
    float: left;
    margin-left: 25px;
}
.removeLink{
    display: none;

}
.cart-box .removeLink{
    display: block;
    font-family: Calibri sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
    margin-right: 25px;
    float: right;
}
.pricelist{
    position: absolute;
    bottom: 0px;
    top: auto;
    right: 0;
    left: 0;
    margin: auto;
    height: 50px;
    width: 150px;
    line-height: 50px;
    font-size: 24px;
    font-family: Calibri sans-serif;
    font-weight: bolder;
    text-align: center;
    z-index: 99999;
    background: #db2d2d;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    border-radius: 5px;
    color: white;

}